---
import Base from "@/layouts/Base.astro";
---

<Base title="Page Not Found">
  <section class="section-sm text-center">
    <div class="container">
      <div class="row justify-center">
        <div class="sm:col-10 md:col-8 lg:col-6">
          <h1
            class="text-[8rem] block font-bold text-text-dark dark:text-darkmode-text-dark"
          >
            404
          </h1>
          <h2 class="h2 mb-4">Page not found</h2>
          <div class="content">
            <p>
              This page got the zoomies and disappeared. Check the URL or go back to the homepage. 
            </p>
          </div>
          <a href="/" class="btn btn-primary mt-8">Back to home</a>
        </div>
      </div>
    </div>
  </section>
</Base>
